body {
  background-color: #121212 !important;
  color: #f8f9fa !important;
  font-family: 'Segoe UI', sans-serif;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
